.posts-container{
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 1em;
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  grid-column-gap: 2em;
}
.post{
  border-radius: 7px;
  padding-left: 1em;
  padding-right: 1em;
  border: 1px solid gray;
  padding-bottom: 3em;
  margin-bottom: 1em;
  font-family: 'Roboto Condensed', sans-serif;
  padding-top: 3em;;
}
.post-name{
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  color: #609;
}
@media (max-width: 425px) {
  .posts-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 425px) {
  .posts-container{
    display: grid;
    grid-template-columns: 1fr;
  }
}
